@font-face {
    font-family: "Riccione-Serial-Extralight";
    src: url("../assets/typefaces/Riccione-Serial-ExtraLight\ Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "LittleKidsHandWriting";
    src: url("../assets/typefaces/LittleKidsHandwriting-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }

.footer {
    font-family: "Riccione-Serial-Extralight", sans-serif;
    font-size: 1em;
    text-align: center;
    border-color: black;
    border-width: 1px;
}