@font-face {
    font-family: "Playwrite";
    src: url("../assets/typefaces/PlaywriteUSModern-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: "Vogue";
    src: url("../assets/typefaces/Vogue.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: "ZaiRoyal";
    src: url("../assets/typefaces/ZaiRoyalVogueTypewriter1929-L3V1G.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

nav ul{
    width: 100vw;
    height: 60px;
    top: 0;
    background-color: #fbf4ef;
    position: fixed;
    display: flex;
    flex-direction: row;
    gap: 5rem;
    align-items: center;
    z-index: 1000;
    list-style: none;
    padding: 2rem;
    overflow: hidden;
    font-size: 12px;
    font-family: "ZaiRoyal", sans-serif;
}

.logo {
    margin-left: auto;
    margin-right: auto;
  }

  .logo-video {
    height: 400px;
    width: auto;
    display: block;
  }

nav a {
    color: #654321;
    text-decoration: none;
}

nav a:hover{
    color: #341C02;
}