@font-face {
    font-family: "Playwrite";
    src: url("../assets/typefaces/PlaywriteUSModern-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "LittleKidsHandWriting";
    src: url("../assets/typefaces/LittleKidsHandwriting-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Riccione-Serial-Extralight";
    src: url("../assets/typefaces/Riccione-Serial-ExtraLight\ Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: "Vogue";
    src: url("../assets/typefaces/Vogue.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: "ZaiRoyal";
    src: url("../assets/typefaces/ZaiRoyalVogueTypewriter1929-L3V1G.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

nav ul{
    width: 100vw;
    height: 60px;
    top: 0;
    background-color: #fbf4ef;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1000;
    list-style: none;
    padding: 2rem;
    overflow: hidden;
    font-size: 1rem;
    font-family: "Riccione-Serial-Extralight", sans-serif;
}

.logo {
    margin-left: auto;
    margin-right: auto;
  }

  .logo-video {
    height: 400px;
    width: auto;
    display: block;
  }

nav a {
    color: #654321;
    text-shadow: transparent;
    padding: 0.5em;
    text-decoration: none;
    transition: color, 0.5s ease-in-out;
    transition: transform, 0.4s ease-in-out;
}

nav a:hover{
    color: #d6b588;
    transfrom: scale(1.25);
    
}