.projects_page {
    display: grid;
    height: auto;
    width: 100vw;
    grid-template-areas: 
    "animation animation animation"
    "project_content project_content project_content" ;
}

.animation {
    position: relative;
    width: 100vw;
    aspect-ratio: 16/9;
    /* max-width: 1200px; */
    overflow: hidden;
    margin-top: 60px;
}

.project_content {
    position: relative;
    width: 100vw;
    height: auto;
    grid-area: project_content;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.background {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    position: absolute;
    z-index: 0;
}

.lamp {
    position: absolute;
    width: 19.5%;
    bottom: 68.5%;
    left: 39.5%;
    z-index: 1;
}

.figure {
    position: absolute;
    width: 40%;
    top: 20.8%;
    left: 30%;
    margin:0 auto;
    aspect-ratio: 3/4;
    z-index: 2;
}

.head {
    position: absolute;
    width: 22%;
    top: 32%;
    left: 25%;
    animation: head-swing 2s ease-in-out infinite;
    transform-origin: center;
}

/* @keyframes head-swing {
    0%  {transform: rotate(0deg) translateX(0%) translateY(0%);}
    50% {transform: rotate(-12deg) translateX(-30%) translateY(-22%);}
    100%{transform: rotate(0deg) translateX(0%) translateY(0%);}
} */

.torso {
    position: absolute;
    width: 42%;
    top: 41%;
    left: 6%;
    transform: rotate(15deg);
    animation: torso-swing 2s ease-in-out infinite;
    transform-origin: center;
}

/* @keyframes torso-swing {
    0%  {transform: rotate(15deg) translateX(0%) translateY(0%);}
    50% {transform: rotate(2deg) translateX(-5%) translateY(-5%)}
    100%{transform: rotate(15deg) translateX(0%) translateY(0%);}
} */

.right_arm {
    position: absolute;
    width: 22%;
    top: 50%;
    left: 40%;
    transform-origin: top left; 

    height: auto;
    aspect-ratio: 1 / 3;
    overflow: visible;

    animation: right_arm_swing 2s ease-in-out infinite;
}

/* @keyframes right_arm_swing {
    0%  {transform: translateX(0%) translateY(0%) rotate(0deg);}
    50% {transform: translateX(-6.5vw) translateY(-7.5vh) rotate(-140deg);}
    100%{transform: translateX(0%) translateY(0%) rotate(0deg);}
} */

.right_arm1 {
    position: absolute;
    width: 100%;
    bottom: 72%;
    right: 80%;
    animation: right_arm1_swing 2s ease-in-out infinite;
    transform-origin: center;
}

/* @keyframes right_arm1_swing {
    0%  {transform: translateX(0%) translateY(0%) rotate(0deg);}
    50% {transform: translateX(-20%) translateY(-80%) rotate(-100deg);}
    100%{transform: translateX(0%) translateY(0%) rotate(0deg);}
} */

.right_arm2 {
    width: 90%;
    position: absolute;
    bottom: 70%;
    right: 35%;
    transform: rotate(10deg);
    transform-origin: bottom left;

    animation: right_arm2_swing 2s ease-in-out infinite;
}

/* @keyframes right_arm2_swing {
    0%  {transform: translateX(0%) translateY(0%) rotate(0deg);}
    50% {transform: translateX(-3.5vw) translateY(-3.5vh) rotate(-125deg);}
    100%{transform: translateX(0%) translateY(0%) rotate(0deg);}
} */

.right_hand {

    position: absolute;
    width: 50%;
    bottom: 80%;
    left: 65%;
    transform: rotate(30deg);
    transform-origin: top left;
    z-index: 4;
}

/* @keyframes right_hand_swing {
    0%  {transform:  translateX(0%) translateY(0%) rotate(0deg);}
    50% {transform: translateX(-7vw) translateY(-18vh) rotate(-110deg);}
    100%{transform: translateX(0%) translateY(0%) rotate(0deg);}
} */

.hammer {
    position: absolute;
    width: 75%;
    bottom: 78%;
    left: 48%;
    transform: rotate(30deg);
    transform-origin: center;
    animation: hammer_swing 2s ease-in-out infinite;
    z-index: 3;
}

/* @keyframes hammer_swing {
    0%  {transform: rotate(0deg); top: 0%;}
    50% {transform: rotate(-5deg); top: 2%;}
    100%{transform: rotate(0deg); top: 0%;;}
} */

.left_arm1 {
    position: absolute;
    width: 21%;
    top: 45%;
    left: 28%;
    transform: rotate(15deg);
    animation: left_arm1_swing 2s ease-in-out infinite;
    transform-origin: top left;
}

/* @keyframes left_arm1_swing {
    0%  {transform: rotate(5deg);}
    50% {transform: rotate(-20deg);}
    100%{transform: rotate(5deg);}
} */

.left_arm2_hand {
    position: absolute;
    width: 19%;
    top: 45%;
    left: 38%;
    transform: rotate(-20deg);
    transform-origin: top left; 

    height: auto;
    aspect-ratio: 1 / 3;
    overflow: visible;

    animation: left_arm2_hand_swing 2s ease-in-out infinite;
}

/* @keyframes left_arm2_hand_swing {
    0%  {transform: translateX(0vw) translateY(0vh) rotate(0deg);}
    50% {transform: translateX(-0.5vw) translateY(-4vh) rotate(-30deg);}
    100%{transform: translateX(0vw) translateY(0vh) rotate(0deg);}
} */

.left_arm2 {
    position: absolute;
    width: 100%;
    top: 25%;
    right: 55%;
    transform: rotate(55deg);
    /* animation: left_arm2_swing 2s ease-in-out infinite; */
    transform-origin: center;
}

/* @keyframes left_arm2_swing {
    0%  {right: 700px; top: 580px;}
    50% {right: 675px; top: 575px;}
    100%{right: 700px; top: 580px;}
} */

.left_hand {
    position: absolute;
    width: 85%;
    top: 41%;
    left: 10%;
    transform: rotate(45deg);
    animation: left_hand_swing 2s ease-in-out infinite;
    transform-origin: center;
}

/* @keyframes left_hand_swing {
    0%  {transform: translateX(0vw) translateY(0vh) rotate(20deg);}
    50% {transform: translateX(0vw) translateY(-0.5vh) rotate(15deg);}
    100%{transform: translateX(0vw) translateY(0vh) rotate(20deg);}
} */

.right_leg {
    transform-origin: center;
    z-index: 2;
}

.right_upper_leg {
    position: absolute;
    width: 39%;
    top: 59%;
    left: 11%;
    transform: rotate(-5deg);
    animation: upper_right_swing 2s ease-in-out infinite;
    transform-origin: center;
}

/* @keyframes upper_right_swing {
    0%  {transform: rotate(0deg);}
    50% {transform: rotate(8deg);}
    100%{transform: rotate(0deg);}
} */

.right_lower_leg {
    position: absolute;
    width: 35%;
    top: 68%;
    left: 10%;
    transform: rotate(-5deg);
    animation: right_lower_leg_swing 2s ease-in-out infinite;
    transform-origin: center;
}

/* @keyframes right_lower_leg_swing {
    0%  {transform: rotate(0deg);}
    50% {transform: rotate(5deg);}
    100%{transform: rotate(0deg);}
} */

.right_foot {
    position: absolute;
    width: 24%;
    top: 72%;
    right: 82%;
    transform: rotate(5deg);
    animation: right_foot_slide 2s ease-in-out infinite;
    transform-origin: center;
}

.left_leg{
    transform-origin: center;
    z-index: 2;
}

.left_lower_leg {
    position: absolute;
    width: 35%;
    top: 68%;
    left: 45%;
    transform: rotate(5deg);
    animation: left_lower_leg_swing 2s ease-in-out infinite;
    transform-origin: center;
}

.left_foot {
    position: absolute;
    width: 24%;
    top: 72%;
    left: 50%;
    transform: rotate(-5deg);
    animation: left_foot_slide 2s ease-in-out infinite;
    transform-origin: center;
}