.worldview_page {
    display: grid;
    height: auto;
    width: 100vw;
    grid-template-areas: 
    "worldview_animation worldview_animation worldview_animation"
    "worldview_content worldview_content worldview_content" ;
}

.worldview_animation {
    position: relative;
    width: 100vw;
    aspect-ratio: 16/9;
    /* max-width: 1200px; */
    overflow: hidden;
    margin-top: 60px;
}

.worldview_content {
    position: relative;
    width: 100vw;
    height: auto;
    grid-area: project_content;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.worldview_background {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    position: absolute;
    z-index: 0;
}

.worldview_lamp {
    position: absolute;
    width: 24.5%;
    bottom: 62%;
    left: 37.2%;
}

.worldview_figure {
    position: absolute;
    width: 40%;
    top: 20%;
    left: 30%;
    margin:0 auto;
    aspect-ratio: 3/4;
    z-index: 2;
}

.worldview_head {
    position: absolute;
    width: 22%;
    /* bottom: 0%; */
    left: 25%;
    transform: rotate(-7deg);
    animation: head-lean-back 8s ease-in-out infinite;
    transform-origin: bottom;
}

/* @keyframes head-lean-back {
    0%   {transform: translateX(0vw) translateY(0vh) rotate(0deg);}
    50%  {transform: translateX(-0.45vw) translateY(-0.5vh) rotate(-20deg);}
    100% {transform: translateX(0vw) translateY(0vh) rotate(0deg);}
} */

.worldview_torso {
    position: absolute;
    width: 40%;
    top: 18%;
    left: 10%;
    transform: rotate(-1deg);
    animation: torso-lean-back 8s ease-in-out infinite;
    transform-origin: center;
}

/* @keyframes torso-lean-back {
    0%   {transform: rotate(2deg); right: 635px;}
    50%  {transform: rotate(-10deg); right: 615px;}
    100% {transform: rotate(2deg); right: 635px;}
} */

.worldview_right_arm1 {
    position: absolute;
    width: 20%;
    top: 25%;
    left: 23%;
    transform: rotate(25deg);
    animation: upper-right-arm3-swing 8s ease-in-out infinite;
    transform-origin: center;
}

/* @keyframes upper-right-arm3-swing {
    0%   {transform: translateX(0%) translateY(0%) rotate(25deg);}
    50%  {transform: translateX(-20%) translateY(0%) rotate(50deg);}
    100% {transform: translateX(0%) translateY(0%) rotate(25deg);}
    
} */

.worldview_right_arm2 {
    position: absolute;
    width: 20%;
    top: 36%;
    left: 27%;
    transform: rotate(90deg);
    animation: lower-right-arm3-swing 8s ease-in-out infinite;
    transform-origin: center;
}

/* @keyframes lower-right-arm3-swing {
    0%   {transform: translateX(0%) translateY(0%) rotate(90);}
    50%  {transform: translateX(-20%) translateY(0%) rotate(115deg);}
    100% {transform: translateX(0%) translateY(0%) rotate(90);}
    
} */

.worldview_right_hand {
    position: absolute;
    width: 10%;
    top: 48%;
    left: 37%;
    transform: rotate(110deg);
    animation: right-hand3-swing 8s ease-in-out infinite;
    transform-origin: center;
}

/* @keyframes right-hand3-swing {
    0%   {transform: translateX(0%) translateY(0%) rotate(110deg);}
    50%  {transform: translateX(-80%) translateY(0%) rotate(130deg);}
    100% {transform: translateX(0%) translateY(0%) rotate(110deg);}
    
} */

.worldview_hammer {
    position: absolute;
    width: 16%;
    top: 46%;
    left: 37%;
    transform: rotate(105deg);
    animation: hammer3-swing 8s ease-in-out infinite;
    transform-origin: center;
}

/* @keyframes hammer3-swing {
    0%   {transform: translateX(0%) translateY(0%) rotate(105deg);}
    50%  {transform: translateX(-60%) translateY(0%) rotate(125deg);}
    100% {transform: translateX(0%) translateY(0%) rotate(105deg);}
    
} */

.worldview_left_arm2_hand {
    position: absolute;
    width: 20%;
    top: 22%;
    left: 18%;
    transform: rotate(50deg);
    animation: upper-left-arm3-swing 8s ease-in-out infinite;
    transform-origin: center;
}

/* @keyframes upper-left-arm3-swing {
    0%   {transform: translateX(0%) translateY(0%) rotate(50deg);}
    25%  {transform: translateX(4.45vw) translateY(-3.3vh) rotate(-75deg)}
    50%  {transform: translateX(4vw) translateY(-3.85vh) rotate(-95deg);}
    75%  {transform: translateX(2vw) translateY(-1vh) rotate(10deg);}
    100% {transform: translateX(0%) translateY(0%) rotate(50deg);}
    
} */

.worldview_left_arm1 {
    position: absolute;
    width: 20%;
    top: 20%;
    left: 15%;
    transform-origin: top left; 
    height: auto;
    aspect-ratio: 1 / 3;
    overflow: visible;

    animation: lower-left-arm-stretch3 8s ease-in-out infinite;
}

/* @keyframes lower-left-arm-stretch3 {
    0%   {transform: translateX(0vw) translateY(0vh) rotate(0deg);}
    25%   {transform: translateX(7.5vw) translateY(-4.5vh) rotate(-160deg);}
    50%  {transform: translateX(7vw) translateY(-4vh) rotate(-190deg);}
    75%   {transform: translateX(0vw) translateY(0vh) rotate(0deg);}
    100% {transform: translateX(0vw) translateY(0vh) rotate(0deg);}
    
} */

.worldview_left_arm2 {
    position: absolute;
    width: 100%;
    top: 15%;
    left: 18%;
    transform: rotate(100deg);
    /* animation: upper-right-arm-swing 2s ease-in-out infinite; */
    transform-origin: center;
}

.worldview_left_hand {
    position: absolute;
    width: 85%;
    top: 40%;
    left: 42%;
    transform: rotate(70deg);
    /* animation: upper-right-arm-swing 2s ease-in-out infinite; */
    transform-origin: center;
}

.worldview_upper_right_leg {
    position: absolute;
    width: 36%;
    top: 39%;
    left: 14%;
    transform: rotate(-8deg);
    animation: upper-leg3-swing 8s ease-in-out infinite;
    transform-origin: center;
}

/* @keyframes upper-leg3-swing {
    0%   {transform: translateX(0%) translateY(0%) rotate(-8deg);}
    50%  {transform: translateX(0%) translateY(0%) rotate(2deg);}
    100% {transform: translateX(0%) translateY(0%) rotate(-8deg);}
    
} */

.worldview_lower_right_leg {
    position: absolute;
    width: 43%;
    top: 54%;
    left: 8%;
    transform: rotate(0deg);
    animation: lower-leg3-swing 8s ease-in-out infinite;
    transform-origin: center;
}

/* @keyframes lower-leg3-swing {
    0%   {transform: translateX(0%) translateY(0%) rotate(0deg);}
    50%  {transform: translateX(-2%) translateY(0%) rotate(-5deg);}
    100% {transform: translateX(0%) translateY(0%) rotate(0deg);}
    
} */

.worldview_right_foot {
    position: absolute;
    width: 20%;
    top: 74%;
    left: 21.7%;
    animation: feet3-swing 8s ease-in-out infinite;
    transform-origin: center;
}

/* @keyframes feet3-swing {
    0%   {transform: translateX(0%) translateY(0%) rotate(0deg);}
    50%  {transform: translateX(-3%) translateY(0%) rotate(5deg);}
    100% {transform: translateX(0%) translateY(0%) rotate(0deg);}
    
} */