* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container{
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-areas: 
    "nav nav nav"
    "main-content main-content main-content"
    "footer footer footer"  ;
}

.main-content {
    position: relative;
    width: 100vw;
    height: auto;
    grid-area: content;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
